div.equalizer {
  display: inline-block;
}

span.equalizer-title {
  display: block;
  margin: 2px;
  background-color: #213F6E;
  text-align: center;
  color: white;
  border-style: outset;
  border-color: #213F6E;
}

div.equalizer-sections-wrapper {

}

div.equalizer-section {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  text-align: center;
  background-color: #213F6E;
  border-style: outset;
  border-color: #213F6E;
}

span.equalizer-section-header {
  display: block;
  background-position: top center;
  color: white;
}

div.equalizer-section-bar {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 15px;
  height: 120px;
  vertical-align: bottom;
  background-position: bottom center;
  background-color: black;
}

div.equalizer-section-bar-value {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}

div.equalizer-section-bar-button {
  position: absolute;
  left: -5px;
  height: 5px;
  width: 19px;
  background-position: center;
  background-color: white;
  border-style: outset;
  border-color: black;
}


div.equalizer-section-bar-button.default-cursor {
  cursor: hand;
  cursor: pointer;
}

.dragged {
  cursor: move !important;
}

span.equalizer-section-footer {
  display: block;
  margin: 2px;
  vertical-align: bottom;
  background-position: bottom center;
  color: white;
}

